body{
    background-color: #0e1116;
    color: blanchedalmond;
    font-size: 20px;
}

#loginBody {
    background-image: url("https://media.giphy.com/media/l0HlTy9x8FZo0XO1i/giphy.gif");
    background-color: black;
    height: 500px;
    background-position: center;
}

#loginCotainer{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

#form{
    width: 400px;
}

#title{
    display: block;
    text-align: center;
    margin-bottom: 25px;
    font-size: 40px;
}

#inp{
    width: 100%;
}

#form > div > input{
    /* margin: 10px; */
    height: 30px;
    min-width: 300px;
}

#form > button{
    margin: 5px;
    height: 40px;
    width: 100%;
    background-color: teal;
    /* color: wheat; */
    color: blanchedalmond;
    border: none;
    font-size: 20px;
}

#form > div > input:-webkit-autofill {
    -webkit-text-fill-color: blanchedalmond;
    transition: background-color 5000s ease-in-out 0s;
}

#form > div > #name, #pwd{
    background-color: #292929;
    color: blanchedalmond;
    font-size: 20px;
    border: none;
}

#form > div > input{
    float: right;
}

#form > div > #name:focus, #pwd:focus{
    outline: none;
    border: 2px solid #adb2a4;
}

#form > #nameB:hover{
    background-color: #015151;
    cursor: pointer;
}

#form > #pwdB:hover{
    background-color: red;
    cursor: pointer;
}

#mainMenu > div > a{
    display: block;
    text-align: center;
    text-decoration: none; 
    color: black;
    background-color: #ffa217;
    padding: 5px;
    font-size: 20px;
    width: 400px;
}

#mainMenu > div{
    margin: 15px;
}

#logout > a{
    text-decoration: none; 
    padding: 5px;
    color: black;
    background-color: #ffa217;
    font-size: 20px;
}